/* DEBUG ALL ELEMENTS */

/* DEBUG ONE ELEMENT */

/* border : 1px solid yellow; */

/* * {
  border: 1px solid yellow;
} */

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}

/* OUTERMOST PARENT */

.containerr {
  position: relative;
  width: 100%;
  background: #131313;
  height: 100vh;
  font-weight: 300;
  font-family: 'Lato';
}

/* OUTERMOST PARENT ENDS */

/* NavBar */

.topnav {
  width: auto;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-item {
  position: relative;
  padding: 35px;
  margin: auto;
  text-align: center;
}

.topnav-link {
  height: 100%;
  color: white;
  font-weight: 300;
}

.topnav-item:before {
  content: "";
  position: absolute;
  width: 15%;
  transform-origin: center;
  height: 1px;
  bottom: 30%;
  left: 42%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.topnav-item:hover:before {
  visibility: visible;
  transform: scaleX(4);
}

/* Navbar Ends */

/* Header */

.header {
  position: relative;
  width: auto;
  top: 20%;
}

.header-txt {
  color: white;
  font-weight: 300;
  font-family: 'Lato';
}

/* Header Ends */

/* Content View */

.content-view {
  width: 100%;
  height: 50%;
  position: absolute;
  overflow: auto;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 50%, 50%;
}

.home {
  color: white;
}

.home p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  font-size: 200%;
  font-weight: 100;
  text-align: justify;
  animation: p-animation 0.5s 1;
}

@keyframes p-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.95;
  }
}

/* Apps */

/* Appcard */

.apps {
  height: 100%;
  width: 100%;
  /* text-align: center; */
  position: relative;
}

.app-card {
  position: fixed;
  padding-top: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%; /* 35% */
  height: 75%; /* 75% */
  border: 0px solid black;
  border-radius: 5px;
  box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to right, #1a1a1a, #1f1f1f);
  animation: p-animation 0.5s linear;
}

/* .app-card-body {
  border: 1px solid yellow;
} */

.app-card-title {
  color: whitesmoke;
  font-weight: 100;
  position: relative;
  text-align: center;
  top: 5%;
}

.app-card-text {
  color: aliceblue;
  text-align: center;
  position: absolute;
  width: 80%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}

.app-card-btn {
  color: aliceblue;
  border: 1px solid aliceblue;
  padding: 4% 2%;
  width: 40%;
  height: 20%;
  text-align: center;
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  left: 50%;
  overflow: hidden;
  text-decoration: none;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
}

.app-card-btn-txt {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.app-card-btn::before {
  content: '';
  z-index: -1;
  position: absolute;
  left: 0;
  width: 200%;
  height: 200%;
  top: 200%;
  transition: all 0.4s ease-in-out;
  background-color: aliceblue;
}

.app-card-btn:hover::before {
  animation: btn-animation 0.4s 1;
  top: 0%;
}

.app-card-btn:hover {
  color: black;
  text-decoration: none;
}

@keyframes btn-animation {
  0% {
    top: 200%;
  }
  100% {
    top: 0%;
  }
}

/* Appcard Ends */

/* Apps Ends */

/* Contact */

.contact {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Contact Ends */

.scrollable {
  padding: 4px;
  width: 100%;
  overflow: hidden;
}

/* Content View Ends */

/* Footer */

.footer {
  width: 100%;
  position: absolute;
  bottom: 0%;
  margin-bottom: 1rem;
}

.button-white-footer {
  color: white;
}

/* Footer Ends */

/* mobile version */

@media only screen and (min-width: 320px) and (max-width: 430px) {
  /* For mobile phones: */
  .topnav {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 5%;
  }
  .topnav-item {
    padding: 20px;
  }
  .topnav-item:before {
    height: 1px;
    bottom: 0%;
  }
  .topnav-item:hover:before {
    transform: scaleX(5);
  }

  .header {
    top: 15%;
  }

  .content-view {
    height: 55%;
  }

  .app-card {
    left: 50%;
    width: 80%;
    height: 65%;
  }
  .app-card-text {
    width: 80%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .app-card-btn {
    width: 50%;
    height: 20%;
  }

  .home {
    overflow-x: auto;
  }

  .home p {
    text-align: justify;
    font-size: 150%;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
  }

  .contact-txt {
    font-size: 150%;
  }
}

@media only screen and (min-width: 430px) and (max-width: 768px) {
  /* For mobile phones: */
  .topnav {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 5%;
  }
  .topnav-item {
    padding: 20px;
  }
  .topnav-item:before {
    height: 1px;
    bottom: 0%;
  }
  .topnav-item:hover:before {
    transform: scaleX(5);
  }

  .header {
    top: 15%;
  }

  .content-view {
    height: 55%;
  }

  .app-card {
    left: 50%;
    width: 80%;
    height: 65%;
  }
  .app-card-text {
    width: 80%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .app-card-btn {
    width: 50%;
    height: 20%;
  }

  .home {
    overflow-x: auto;
  }

  .home p {
    text-align: justify;
    font-size: 150%;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
  }

  .contact-txt {
    font-size: 150%;
  }
}